*{
    background: #7ab7f55d;
}
.container
{
    margin: auto;
    max-width: 600px;
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 50px;
}
h1{
    background-color: white;
    color: #7ab7f55d;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.input-tarefa
{
    font-weight: 900;
    font-size: 22px;
    background: white;
    height: 30px;
    padding: 4px;
    margin: 15px;
    border-radius: 50px;
}
.btn-tarefa
{
    border-radius: 50px;
    background: white;
    height: 30px;
    font-weight: 700;
    font-size: 21px;
}
.btn-tarefa:hover
{
    cursor: pointer;
    color: rgba(151, 86, 226, 0.534);
    background-color: rgba(46, 105, 105, 0.24);
}

li
{
    background: white;
    font-size: 20px;
    padding: 10px;
}
ul
{
    background: white;
    margin: 10px;
}